@page
@model ApiDashboard.Pages.UsersOverviewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "User Table";
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
    <h2>User Table</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                </tr>
            }
        </tbody>
    </table>
</main>
