@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <style>
        .navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow {
            height: 55px;
        }
    </style>

    <main>

        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

          
            <div id="es-balken-1" class="d-flex flex-row" style="position: relative;">
                <div id="es-balken-2" style="flex-grow: 2;"></div>
                <div id="es-balken-3" style="flex-grow: 2;"></div>
                <div id="es-balken-4" style="flex-grow: 1;"></div>
                <div id="es-balken-5" style="flex-grow: 1;"></div>
            </div>
            <!-- It not needet at this time
            <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
            -->
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="#">Sign out</a>
                </div>
            </div>
        </header>
       

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
