body {
    background-color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.c-chart-wrapper img {
    width: 100%;
    padding: 0 15px;
 
}

/* ESPAS Balken */
#es-balken-2, #es-balken-3, #es-balken-4, #es-balken-5 {
    height: 20px;
}

#es-balken-2, #es-balken-3, #es-balken-4 {
    transform: skew(-7deg) translate(10px,0);
}

#es-balken-1, #es-balken-2 {
    background-color: rgb(140, 170, 220);
}

#es-balken-3 {
    background-color: rgb(135, 200, 90);
}

#es-balken-4, #es-balken-5 {
    background-color: rgb(230, 190, 110);
}

#es-balken-4, #es-balken-5 {
    background-color: rgb(230, 190, 110);
}

#es-balken-1, #es-balken-2, #es-balken-3, #es-balken-4 {
    z-index: 200;
}

/*---------------------------------Footer---------------------------------*/

#footer {
    width: 100%;
}

    #footer > div {
        max-width: 600px;
    }

        #footer > div > div {
            width: 300px;
        }

    #footer a {
        text-decoration: none;
    }