@page "/dashboard"


<PageTitle>Dashboard</PageTitle>

@inject UserService UserService

@code {
    private IEnumerable<DataAccess.Models.User> teamMembers;

    protected override async Task OnInitializedAsync()
    {
        teamMembers = await UserService.GetUsersAsync();
    }
}

<div class="container-fluid">

    <div class="section pt-4">
        <RadzenCard>
            <div class="row g-4">

                <!-- Item 1-->
                <div class="col-sm-6 col-xl-3">
                    <div class="rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-alarm text-primary" style="font-size: 3rem;"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Sale</p>
                            <h6 class="mb-0">$1234</h6>
                        </div>
                    </div>
                </div>

                <!-- Item 2-->
                <div class="col-sm-6 col-xl-3">
                    <div class="rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-alarm text-primary" style="font-size: 3rem;"></i>


                        <div class="ms-3">
                            <p class="mb-2">Total Sale</p>
                            <h6 class="mb-0">$1234</h6>
                        </div>
                    </div>
                </div>

                <!-- Item 3-->
                <div class="col-sm-6 col-xl-3">
                    <div class="rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-alarm text-primary" style="font-size: 3rem;"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Revenue</p>
                            <h6 class="mb-0">$1234</h6>
                        </div>
                    </div>
                </div>

                <!-- Item 4-->
                <div class="col-sm-6 col-xl-3">
                    <div class="rounded d-flex align-items-center justify-content-between p-4">
                        <i class="bi bi-alarm text-primary" style="font-size: 3rem;"></i>
                        <div class="ms-3">
                            <p class="mb-2">Total Revenue</p>
                            <h6 class="mb-0">$1234</h6>
                        </div>
                    </div>
                </div>

            </div>
        </RadzenCard>
    </div>

    <div class="section pt-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <RadzenCard>
                    <div class=" text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Worldwide Sales</h6>
                            <a href="">Show All</a>
                        </div>
                        <RadzenChart>
                            <RadzenColumnSeries Data="@revenue" CategoryProperty="Quarter" ValueProperty="Revenue" />
                        </RadzenChart>
                    </div>
                </RadzenCard>
            </div>
            <div class="col-sm-12 col-xl-6">
                <RadzenCard>
                    <div class="text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Monthly Sales</h6>
                            <a href="">Show All</a>
                        </div>
                        <RadzenChart>
                            <RadzenLineSeries Data="@salesData" CategoryProperty="Month" ValueProperty="Sales" />
                        </RadzenChart>
                    </div>
                </RadzenCard>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="section pt-4">
            <RadzenCard>
                <div class="rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Team Members</h6>
                        <a href="">Show All</a>
                    </div>
                    <RadzenDataGrid Data="@teamMembers" TItem="DataAccess.Models.User" AllowPaging="true" PageSize="10">
                        <Columns>
                            <RadzenDataGridColumn TItem="DataAccess.Models.User" Property="Id" Title="ID" />
                            <RadzenDataGridColumn TItem="DataAccess.Models.User" Property="FirstName" Title="First Name" />
                            <RadzenDataGridColumn TItem="DataAccess.Models.User" Property="LastName" Title="Last Name" />
                            <RadzenDataGridColumn TItem="DataAccess.Models.User" Property="TeamRole" Title="Team Role" />
                            <RadzenDataGridColumn TItem="DataAccess.Models.User" Property="Website" Title="Website" />
                            <RadzenDataGridColumn TItem="DataAccess.Models.User" Property="SiteViews" Title="Site Views" />
                            <RadzenDataGridColumn TItem="DataAccess.Models.User" Property="CreatedAt" Title="Created At" FormatString="{0:MM/dd/yyyy}" />
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </RadzenCard>
        </div>
    </div>

    <div class="section pt-4">
        <div class="row g-4">
                           <div class="col-sm-12 col-md-6 col-xl-4">
                                <RadzenCard>
                    <div class="h-100 rounded p-4">

                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="mb-0">Card 1</h6>
                            <a href="">Show All</a>
                        </div>

                    </div>
                </RadzenCard>
                </div>
           
           
                <div class="col-sm-12 col-md-6 col-xl-4">
                     <RadzenCard>
                    <div class="h-100 rounded p-4">

                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="mb-0">Card 2</h6>
                            <a href="">Show All</a>
                        </div>

                    </div>
                </RadzenCard>
                </div>
         
          
                <div class="col-sm-12 col-md-6 col-xl-4">
                      <RadzenCard>
                    <div class="h-100  rounded p-4">

                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="mb-0">Card 3</h6>
                            <a href="">Show All</a>
                        </div>

                    </div>
                </RadzenCard>
                </div>
           
        </div>
    </div>

</div>

<!-- Code for Overview -->
@code {
    class DataItem
    {
        public string Quarter { get; set; }
        public double Revenue { get; set; }
    }

    DataItem[] revenue = new DataItem[]
    {
                new DataItem { Quarter = "Q1", Revenue = 234000 },
                new DataItem { Quarter = "Q2", Revenue = 284000 },
                new DataItem { Quarter = "Q3", Revenue = 274000 },
                new DataItem { Quarter = "Q4", Revenue = 294000 }
    };
}

<!-- Code for Line Chart-->
  @code {
    class SalesDataItem
    {
        public string Month { get; set; }
        public double Sales { get; set; }
    }

    SalesDataItem[] salesData = new SalesDataItem[]
    {
                new SalesDataItem { Month = "January", Sales = 234000 },
                new SalesDataItem { Month = "February", Sales = 284000 },
                new SalesDataItem { Month = "March", Sales = 274000 },
                new SalesDataItem { Month = "April", Sales = 294000 }
    };
  }


