@page "/dashboard"

<PageTitle>Dashboard</PageTitle>


<div class="container-fluid pt-4">
    <RadzenCard>
    <div class="row g-4">
       
            <div class="col-sm-6 col-xl-3">
                <div class="rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Today Sale</p>
                        <h6 class="mb-0">$1234</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-bar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Sale</p>
                        <h6 class="mb-0">$1234</h6>
                    </div>
                </div>
            </div>
   
            <div class="col-sm-6 col-xl-3">
                <div class="rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-area fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Today Revenue</p>
                        <h6 class="mb-0">$1234</h6>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-xl-3">
                <div class="rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Revenue</p>
                        <h6 class="mb-0">$1234</h6>
                    </div>
                </div>
            </div>
      
    </div>
    </RadzenCard>
</div>

<div class="container-fluid pt-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class=" text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Worldwide Sales</h6>
                    <a href="">Show All</a>
                </div>
                <RadzenChart>
                    <RadzenColumnSeries Data="@revenue" CategoryProperty="Quarter" ValueProperty="Revenue" />
                </RadzenChart>
                @code {
                    class DataItem
                    {
                        public string Quarter { get; set; }
                        public double Revenue { get; set; }
                    }

                    DataItem[] revenue = new DataItem[]
                    {
                new DataItem { Quarter = "Q1", Revenue = 234000 },
                new DataItem { Quarter = "Q2", Revenue = 284000 },
                new DataItem { Quarter = "Q3", Revenue = 274000 },
                new DataItem { Quarter = "Q4", Revenue = 294000 }
                    };
                }
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class=" text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Sales &amp; Revenue</h6>
                    <a href="">Show All</a>
                </div>
                <canvas id="salse-revenue" style="display: block; box-sizing: border-box; height: 224.667px; width: 450.667px;" width="676" height="337"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4">
    <div class=" text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Sales</h6>
            <a href="">Show All</a>
        </div>
        <RadzenDataGrid Data="@orders" TItem="Order" AllowPaging="true" PageSize="10">
            <Columns>
                <RadzenDataGridColumn TItem="Order" Property="OrderID" Title="Order ID" />
                <RadzenDataGridColumn TItem="Order" Property="CustomerName" Title="Customer Name" />
                <RadzenDataGridColumn TItem="Order" Property="OrderDate" Title="Order Date" FormatString="{0:MM/dd/yyyy}" />
            </Columns>
        </RadzenDataGrid>
    </div>
</div>

<div class="container-fluid pt-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100  rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Messages</h6>
                    <a href="">Show All</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 minutes ago</small>
                        </div>
                        <span>Short message goes here...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100  rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                    <a href="">Show All</a>
                </div>
                <div id="calender"><div class="bootstrap-datetimepicker-widget usetwentyfour"><ul class="list-unstyled"><li class="show"><div class="datepicker"><div class="datepicker-days" style=""><table class="table table-sm"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Month"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Month">November 2024</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Month"></span></th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td data-action="selectDay" data-day="10/27/2024" class="day old weekend">27</td><td data-action="selectDay" data-day="10/28/2024" class="day old">28</td><td data-action="selectDay" data-day="10/29/2024" class="day old">29</td><td data-action="selectDay" data-day="10/30/2024" class="day old">30</td><td data-action="selectDay" data-day="10/31/2024" class="day old">31</td><td data-action="selectDay" data-day="11/01/2024" class="day">1</td><td data-action="selectDay" data-day="11/02/2024" class="day weekend">2</td></tr><tr><td data-action="selectDay" data-day="11/03/2024" class="day weekend">3</td><td data-action="selectDay" data-day="11/04/2024" class="day">4</td><td data-action="selectDay" data-day="11/05/2024" class="day">5</td><td data-action="selectDay" data-day="11/06/2024" class="day">6</td><td data-action="selectDay" data-day="11/07/2024" class="day">7</td><td data-action="selectDay" data-day="11/08/2024" class="day">8</td><td data-action="selectDay" data-day="11/09/2024" class="day weekend">9</td></tr><tr><td data-action="selectDay" data-day="11/10/2024" class="day weekend">10</td><td data-action="selectDay" data-day="11/11/2024" class="day">11</td><td data-action="selectDay" data-day="11/12/2024" class="day">12</td><td data-action="selectDay" data-day="11/13/2024" class="day">13</td><td data-action="selectDay" data-day="11/14/2024" class="day active today">14</td><td data-action="selectDay" data-day="11/15/2024" class="day">15</td><td data-action="selectDay" data-day="11/16/2024" class="day weekend">16</td></tr><tr><td data-action="selectDay" data-day="11/17/2024" class="day weekend">17</td><td data-action="selectDay" data-day="11/18/2024" class="day">18</td><td data-action="selectDay" data-day="11/19/2024" class="day">19</td><td data-action="selectDay" data-day="11/20/2024" class="day">20</td><td data-action="selectDay" data-day="11/21/2024" class="day">21</td><td data-action="selectDay" data-day="11/22/2024" class="day">22</td><td data-action="selectDay" data-day="11/23/2024" class="day weekend">23</td></tr><tr><td data-action="selectDay" data-day="11/24/2024" class="day weekend">24</td><td data-action="selectDay" data-day="11/25/2024" class="day">25</td><td data-action="selectDay" data-day="11/26/2024" class="day">26</td><td data-action="selectDay" data-day="11/27/2024" class="day">27</td><td data-action="selectDay" data-day="11/28/2024" class="day">28</td><td data-action="selectDay" data-day="11/29/2024" class="day">29</td><td data-action="selectDay" data-day="11/30/2024" class="day weekend">30</td></tr><tr><td data-action="selectDay" data-day="12/01/2024" class="day new weekend">1</td><td data-action="selectDay" data-day="12/02/2024" class="day new">2</td><td data-action="selectDay" data-day="12/03/2024" class="day new">3</td><td data-action="selectDay" data-day="12/04/2024" class="day new">4</td><td data-action="selectDay" data-day="12/05/2024" class="day new">5</td><td data-action="selectDay" data-day="12/06/2024" class="day new">6</td><td data-action="selectDay" data-day="12/07/2024" class="day new weekend">7</td></tr></tbody></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Year"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Year">2024</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Year"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectMonth" class="month">Jan</span><span data-action="selectMonth" class="month">Feb</span><span data-action="selectMonth" class="month">Mar</span><span data-action="selectMonth" class="month">Apr</span><span data-action="selectMonth" class="month">May</span><span data-action="selectMonth" class="month">Jun</span><span data-action="selectMonth" class="month">Jul</span><span data-action="selectMonth" class="month">Aug</span><span data-action="selectMonth" class="month">Sep</span><span data-action="selectMonth" class="month">Oct</span><span data-action="selectMonth" class="month active">Nov</span><span data-action="selectMonth" class="month">Dec</span></td></tr></tbody></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Decade"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Decade">2020-2029</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Decade"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectYear" class="year old">2019</span><span data-action="selectYear" class="year">2020</span><span data-action="selectYear" class="year">2021</span><span data-action="selectYear" class="year">2022</span><span data-action="selectYear" class="year">2023</span><span data-action="selectYear" class="year active">2024</span><span data-action="selectYear" class="year">2025</span><span data-action="selectYear" class="year">2026</span><span data-action="selectYear" class="year">2027</span><span data-action="selectYear" class="year">2028</span><span data-action="selectYear" class="year">2029</span><span data-action="selectYear" class="year old">2030</span></td></tr></tbody></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fa fa-chevron-left" title="Previous Century"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5">2000-2090</th><th class="next" data-action="next"><span class="fa fa-chevron-right" title="Next Century"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectDecade" class="decade old" data-selection="2006">1990</span><span data-action="selectDecade" class="decade" data-selection="2006">2000</span><span data-action="selectDecade" class="decade" data-selection="2016">2010</span><span data-action="selectDecade" class="decade active" data-selection="2026">2020</span><span data-action="selectDecade" class="decade" data-selection="2036">2030</span><span data-action="selectDecade" class="decade" data-selection="2046">2040</span><span data-action="selectDecade" class="decade" data-selection="2056">2050</span><span data-action="selectDecade" class="decade" data-selection="2066">2060</span><span data-action="selectDecade" class="decade" data-selection="2076">2070</span><span data-action="selectDecade" class="decade" data-selection="2086">2080</span><span data-action="selectDecade" class="decade" data-selection="2096">2090</span><span data-action="selectDecade" class="decade old" data-selection="2106">2100</span></td></tr></tbody></table></div></div></li><li class="picker-switch accordion-toggle"></li></ul></div></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100  rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">To Do List</h6>
                    <a href="">Show All</a>
                </div>
                <div class="d-flex mb-2">
                    <input class="form-control bg-transparent" type="text" placeholder="Enter task">
                    <button type="button" class="btn btn-primary ms-2">Add</button>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox" checked="">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span><del>Short task goes here...</del></span>
                            <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>Short task goes here...</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    List<Order> orders = new List<Order>
    {
        new Order { OrderID = 1, CustomerName = "John Doe", OrderDate = DateTime.Now },
        new Order { OrderID = 2, CustomerName = "Jane Smith", OrderDate = DateTime.Now.AddDays(-1) }
    };

    public class Order
    {
        public int OrderID { get; set; }
        public string CustomerName { get; set; }
        public DateTime OrderDate { get; set; }
    }
}




